.idea/*
*.iml
*.props
*.properties
!src/main/environment/*/log4j.properties
!src/main/resources/settings-manager.properties
!src/main/resources/locale/*
dist/*
build/*
classes/*
javadocs/*
javadocs/
.gradle
src/main/web/WEB-INF/web.xml
src/main/generated/
out/
.sass-cache/
src/main/web/css/style.css*
