<nav id="myNavbar" class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div ng-controller="NavCtrl as vm">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div>
                <a class="logo navbar-btn pull-left" ui-sref="home" title="Home" rel="home">
                    <!--<img src="" alt="Home"/>-->
                </a>
                <a class="name navbar-brand" ui-sref="home" title="Home" rel="home">ARMS Information Management
                    System</a>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="http://www.oceanarms.org" class='enabled'>ARMS Portal</a></li>
                <li><a ui-sref="template" class='enabled'>Generate Template</a></li>
                <li><a ui-sref="validate" class='enabled'>Validate and Load Data</a></li>
                <li ng-show="vm.isAuthenticated" class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Manage
                        Data<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="expeditionManager" class='enabled'>Expedition Manager</a></li>
                        <li ng-show="vm.isAdmin"><a ui-sref='projects' class='enabled'>Project Manager</a></li>
                        <li ng-show="!vm.isAdmin"><a href='#' class='disabled'>Project Manager</a></li>
                    </ul>
                </li>
                <li><a href="http://fims.readthedocs.org/en/latest/">Help</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!vm.isAuthenticated"><a id="login" ng-click="vm.login()" ui-sref="login">Login</a></li>
                <li ng-show="vm.isAuthenticated"><a ui-sref="profile">{{ vm.user.username }}</a></li>
                <li ng-show="vm.isAuthenticated"><a ng-click="vm.logout()" ui-sref="home">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>