/**
 * Place your custom styles here.
 */
.form-group-sm select.form-control {
    line-height: inherit;
}

.select-wrapper > #deployments:after {
    content: '';
}

.span-label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
