// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/bootstrap/alert";
@import "component/bootstrap/ajax";
@import "component/bootstrap/field";
@import "component/bootstrap/file";
@import "component/bootstrap/filter";
@import "component/bootstrap/form";
@import "component/bootstrap/icon";
@import "component/bootstrap/navbar";
@import "component/bootstrap/node";
@import "component/bootstrap/panel";
@import "component/bootstrap/progress-bar";
@import "component/bootstrap/table-drag";
@import "component/bootstrap/tabs";
@import "component/bootstrap/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";
@import "component/login";
@import "component/resetPass";
@import "component/projects";

$featured-slideshow-max-height: 425px !default;

@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700');

//== angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  margin-top: 0px;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: 'walkway_semiboldregular';
  src: url('../fonts/Walkway_SemiBold-webfont.eot');
  src: url('../fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Walkway_SemiBold-webfont.woff') format('woff'),
  url('../fonts/Walkway_SemiBold-webfont.ttf') format('truetype'),
  url('../fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dauphin';
  src: url('../fonts/Dauphinn.ttf');
  font-weight: normal;
  font-style: normal;
}

.dauphin {
  font-family: 'dauphin';
  font-size: $font-size-h1;
}

// firefox bug fix
.img-responsive {
  @include make-xs-column(12, 0);
}

.page-header {
  display: none;
}

.blue-text {
  color: $brand-primary;
}

// Footer.
.footer {
  color: $navbar-default-link-color;
  background-color: $navbar-nav-bg;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 20px;

  .divider {
    margin: 0 15px;
  }

  a {
    color: $navbar-default-link-color;
  }

  .nav {
    @extend .pull-right;

    > li {

      > a {
        padding: 0;
      }

      > a:hover,
      > a:focus {
        text-decoration: underline;
        background-color: inherit;
      }
    }
  }
}

// Paragraphs.
p:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

//= dropdown menus
.dropdown-menu {
  min-width: 190px;
}

.dropdown-submenu {
  position: relative;

  > .dropdown-menu {
    top: 0 !important;
    left: 100% !important;
    margin-top: -6px;
    margin-left: -1px;
  }

  &:hover {
    > .dropdown-menu {
      display: block;
    }

    > a:after {
      border-left-color: #fff;
    }
  }

  &.disabled {
    > a {
      color: $dropdown-link-color;

      &:focus,
      &:hover {
        color: $dropdown-link-hover-color;
        background-color: $dropdown-link-hover-bg;
        cursor: inherit;
      }
    }
  }

  > a {
    &:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: $brand-primary;
      margin-top: 8px;
      margin-right: -5px;
    }
  }

  &.pull-left {
    float: none;

    > .dropdown-menu {
      left: -100%;
      margin-left: 10px;
      -webkit-border-radius: 6px 0 6px 6px;
      -moz-border-radius: 6px 0 6px 6px;
      border-radius: 6px 0 6px 6px;
    }
  }
}

.dropdown-toggle {
  .caret {
    display: none;

    @media #{$normal} {
      display: inline-block;
    }
  }

}

// Justified nav links
// -------------------------

.nav-justified {
  @media (max-width: $screen-sm-max) {
    margin-left: 0;
    > li {
      display: block;
      width: 100%;
      > a {
        margin-bottom: 3px;
      }
    }
  }
}

.nav-tabs-justified {
  @media (max-width: $screen-md-max) {
    > li > a {
      border-bottom: 0;
      border-radius: $border-radius-base;
    }
    > .active > a,
    > .active > a:hover,
    > .active > a:focus {
      border: 1px solid $nav-tabs-justified-link-border-color;
    }
  }
}

//== carousel
.carousel-control {
  background: none !important;
  opacity: 0;

  &:focus {
    opacity: 0;
  }
  &:hover {
    @include opacity(.9);
  }
}

// Hidden by default for smaller viewports
.carousel-caption-wrapper {
  position: absolute;
  bottom: auto;
  z-index: 9;
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0a0809+20,0a0e0a+80,000000+100&0+0,0.8+20,0.8+80,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */

  @media #{$tablet} {
    bottom: 0;
  }

  > .carousel-caption {
    position: relative;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    > p {
      margin: 0;
    }

    @media #{$tablet} {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .carousel-copyright {
    font-size: $font-size-small;
    padding-left: 15px;
    white-space: nowrap;
  }
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

//== featured slideshow
#featured_slideshow {
  margin-bottom: $navbar-margin-bottom;

  .carousel-inner {
    position: relative;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: percentage($featured-slideshow-max-height / $container-lg);
    }

    > .item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        margin: auto;
        height: 100%;
      }
    }
  }
}

//== overview item
.overview-item {
  margin-bottom: 15px;

  > button {
    padding: 0;
    line-height: inherit;
  }

  @media screen and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    &:nth-child(2n+1) {
      clear: both;
    }
  }

  @media screen and (min-width: #{$screen-md-min}) {
    &:nth-child(3n+1) {
      clear: both;
    }
  }
}

.overview-item-img {
  position: relative;
  max-width: 400px;
}

.overview-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: $font-size-h3;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,000000+51,0a0809+100&0+0,0.75+50,1+100 */
  background: -moz-linear-gradient(top, rgba(174, 188, 191, 0) 0%, rgba(3, 4, 4, 0.75) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(10, 8, 9, 1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(174, 188, 191, 0) 0%, rgba(3, 4, 4, 0.75) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(10, 8, 9, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(174, 188, 191, 0) 0%, rgba(3, 4, 4, 0.75) 50%, rgba(0, 0, 0, 0.76) 51%, rgba(10, 8, 9, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00aebcbf', endColorstr='#0a0809', GradientType=0); /* IE6-9 */
}

.overview-item-description {
  margin-top: 15px;
  margin-bottom: 15px;
}

//== pwindicator
.pw-label, .pw-weak .label, .pw-good .label, .pw-strong .label {
  font-size: 100%;
  display: block;
}

.pw-weak .label {
  color: #b94a48;
}

.pw-good .label {
  color: #3c761e;
}

.pw-strong .label {
  color: #3c761e;
}

// Buttons ============================================
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base * .8, $btn-border-radius-base);
}
.btn-lg {
//   line-height: ensure even-numbered height of button next to large input
  @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-large, $line-height-large * .8, $btn-border-radius-large);
}
.btn-sm {
//   line-height: ensure proper height of button next to small input
  @include button-size($padding-small-vertical, $padding-small-horizontal, $font-size-small, $line-height-small * .8, $btn-border-radius-small);
}
.btn-xs {
  @include button-size($padding-xs-vertical, $padding-xs-horizontal, $font-size-small, $line-height-small * .8, $btn-border-radius-small);
}

// Forms ==============================================
.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: $brand-danger;
  }
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

form {
  hr {
    margin: 15px 0;
  }
}

// Comments ==============================================
.indented {
  margin-left: 30px;
}

.comment-subject {
  font-size: ceil($font-size-base * 1.1);
  margin-top: ($line-height-computed / 2.5);
  margin-bottom: ($line-height-computed / 2.5);
}

.comment-meta {
  @extend small;
  margin-top: ($line-height-computed / 2.5);
  margin-bottom: ($line-height-computed / 2.5);
  padding-left: 15px;

  .label {
    margin-left: 5px;
  }
}

.comment-date {
  @extend small;
}

.comment-content {
  clear: both;

  ul {
    margin-bottom: 5px;
  }
}

.comment-permalink {
  @extend small;
}

//-- embeded images
.figure {
  display: inline-block;

  &.align-center {
    width: 100%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.caption {
  width: 100%;
}

//== drupal new block
#block-arms-theme-views-block-content-recent-block-1 {
  li {
    margin-top: 8px;
  }

  .block-title {
    color: #1D317A;
    margin-bottom: 18px;
  }
}

//== drupal videos
.video-embed-field-responsive-video {
  max-width: $container-desktop * .67;
  margin: 30px auto;
}

//== drupal front page

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center; /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items horizontally within the column  */
  flex-flow: row wrap;
}

.vertical-align > [class^="col-"] > *,
.vertical-align > [class*=" col-"] > * {
  width: 100%;
}

.collaborators {
  flex-flow: wrap;
  margin-top: 20px;

  .field--item {
    margin-bottom: 15px;

    img {
      width: auto;
    }
  }
}

//== drupal protocols page content type

.download-btn {
  margin-bottom: 15px;

  @media #{$tablet} {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.protocols-title {
  padding: 5px 0;
  border-bottom: 1px solid #A1A6BB;
  border-top: 1px solid #A1A6BB;
  color: $brand-primary;
}

.key-points {
  //background-color: #FDEADA;
  //color: #142255;
  color: #fff;
  padding: 15px;
  margin-bottom: $line-height-computed;
  //border: 1px solid darken(#FDEADA, 6.5%);
  border-radius: 15px;
  position: relative;
  overflow: hidden;

  -webkit-box-shadow: 3px 3px 8px -1px rgba(74,74,74,0.75);
  -moz-box-shadow: 3px 3px 8px -1px rgba(74,74,74,0.75);
  box-shadow: 3px 3px 8px -1px rgba(74, 74, 74, 0.75);

  > * {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .9;
    background-image: url(../images/navy-blue-underwater.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  a {
    color: #FFEF71;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    color: #fff;
    span {
      color: #fff;
    }
  }
}

.illustrations {
  padding-top: 15px;
}

@media #{$mobile} {
  .illustrations {
    img {
      float: none !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 15px;
    }
  }
}

@media #{$tablet} {
  .illustrations {
    display: table;
    width: 100%;
  }

  .illustrations [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

.illustration-caption {
  vertical-align: middle !important;
  text-align: center;
  font-weight: 700;
}

//== getting involved
.field--type-webform {
  .field--label {
    margin-bottom: 15px;
    font-size: $font-size-h3;
    @extend .protocols-title
  }
}

//== drupal getting-involved form
.form-item-ordering-arms > label {
  font-weight: 700;
}

//== search projects
.search-map {
  margin-bottom: $navbar-margin-bottom;
  margin-top: 0;

  #searchMap {
    height: $featured-slideshow-max-height;
  }
}

//== validate.html
.tab-content {
  margin-top: 15px;
}

.group-message {
  padding-bottom: $form-group-margin-bottom;
}

#map {
  position: relative;
  height: $featured-slideshow-max-height;
  width: 100%;
}

//== templates.html
#cat1 {
  margin-bottom: 15px;
}

// Existing style.css
.form-group-sm select.form-control {
  line-height: inherit;
}

.select-wrapper > #deployments:after {
  content: '';
}

.span-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-sm .form-control {
  padding: 5px 25px 5px 10px;
}

// can be removed after expedition manager refactor
div.toggle-content {
  display: none;
  margin: 0px 20px;
}

.img-arrow {
  vertical-align: middle;
  height: 20px;
  border: none;
}
