// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/bootstrap/alert";
@import "component/bootstrap/ajax";
@import "component/bootstrap/field";
@import "component/bootstrap/file";
@import "component/bootstrap/filter";
@import "component/bootstrap/form";
@import "component/bootstrap/icon";
@import "component/bootstrap/navbar";
@import "component/bootstrap/node";
@import "component/bootstrap/panel";
@import "component/bootstrap/progress-bar";
@import "component/bootstrap/table-drag";
@import "component/bootstrap/tabs";
@import "component/bootstrap/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";
@import "component/login";
@import "component/resetPass";
@import "component/projects";

$featured-slideshow-max-height: 425px !default;
$wrapper-max-width: 1250px !default;
$wrapper-padding-horizontal: (40px - ($grid-gutter-width / 2));

//== angular
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
  //background-image: url(../images/f40171d6.png);
  margin-top: 0px;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

@font-face {
  font-family: 'walkway_semiboldregular';
  src: url('../fonts/Walkway_SemiBold-webfont.eot');
  src: url('../fonts/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Walkway_SemiBold-webfont.woff') format('woff'),
  url('../fonts/Walkway_SemiBold-webfont.ttf') format('truetype'),
  url('../fonts/Walkway_SemiBold-webfont.svg#walkway_semiboldregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

.page-header {
  display: none;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

//== wrapper
.wrapper {
  background-color: #fff;

  @media #{$tablet} {
    width: 100%;
  }
  @media #{$normal} {
    width: 90%;
    max-width: $wrapper-max-width;
  }

  margin: 0 auto;
  margin-bottom: 40px;
  padding: 15px $wrapper-padding-horizontal;
  overflow: hidden;
  border: 1px solid white;
  border-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.5), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dropdown-menu {
  min-width: 190px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0 !important;
  left: 100% !important;
  margin-top: -6px;
  margin-left: -1px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: $brand-primary;
  margin-top: 8px;
  margin-right: -5px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

//== carousel
.carousel-control {
  background: none !important;
  opacity: 0;

  &:focus {
    opacity: 0;
  }
  &:hover {
    @include opacity(.9);
  }
}

// Hidden by default for smaller viewports
.carousel-caption-wrapper {
  position: absolute;
  bottom: auto;
  z-index: 9;
  width: 100%;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,0a0809+20,0a0e0a+80,000000+100&0+0,0.8+20,0.8+80,0+100 */
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(10, 8, 9, 0.8) 20%, rgba(10, 14, 10, 0.8) 80%, rgba(0, 0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1); /* IE6-9 */

  @media #{$tablet} {
    bottom: 10px;
  }

  > .carousel-caption {
    position: relative;
    width: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;

    > p {
      margin: 0;
    }

    @media #{$mobile} {
      font-size: $font-size-small;
    }

    @media #{$tablet} {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .carousel-copyright {
    font-size: $font-size-xsmall;
    @media #{$tablet} {
      font-size: $font-size-small;
    }
  }
}

//== featured slideshow
#featured_slideshow {
  //margin-top: 0;
  //margin-left: -($wrapper-padding-horizontal + ($grid-gutter-width / 2));
  //margin-right: -($wrapper-padding-horizontal + ($grid-gutter-width / 2));
  margin-bottom: $navbar-margin-bottom;

  @media #{$normal} {
    //margin-top: -$navbar-margin-bottom;
  }

  .carousel-inner {
    position: relative;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: percentage($featured-slideshow-max-height / $wrapper-max-width);
    }

    > .item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      //background-color: #f2f2f4;
      //box-shadow: inset 0px 11px 8px -10px #CCC,
      //inset 0px -11px 8px -10px #CCC;

      img {
        margin: auto;
        height: 100%;
      }
    }
  }
}

//-- embeded images

.figure {
  display: inline-block;

  &.align-center {
    width: 100%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.caption {
  width: 100%;
}

//== overview item
.overview-item {
  margin-bottom: 15px;
}

.overview-item-img {
  position: relative;
}

.overview-item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: $font-size-h3;
  color: #fff;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#aebcbf+0,000000+51,0a0809+100&0+0,0.75+50,1+100 */
  background: -moz-linear-gradient(top, rgba(174,188,191,0) 0%, rgba(3,4,4,0.75) 50%, rgba(0,0,0,0.76) 51%, rgba(10,8,9,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(174,188,191,0) 0%,rgba(3,4,4,0.75) 50%,rgba(0,0,0,0.76) 51%,rgba(10,8,9,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(174,188,191,0) 0%,rgba(3,4,4,0.75) 50%,rgba(0,0,0,0.76) 51%,rgba(10,8,9,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aebcbf', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}

.overview-item-description {
  margin-top: 15px;
  margin-bottom: 15px;
}

//== pwindicator
.pw-label, .pw-weak .label, .pw-good .label, .pw-strong .label {
  font-size: 100%;
  display: block;
}

.pw-weak .label {
  color: #b94a48;
}

.pw-good .label {
  color: #3c761e;
}

.pw-strong .label {
  color: #3c761e;
}

// Buttons ============================================
.btn {
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base * .8, $btn-border-radius-base);
}

// Forms ==============================================
.has-warning {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus {
    border-color: $brand-warning;
  }
}

.has-error {
  .help-block,
  .control-label,
  .radio,
  .checkbox,
  .radio-inline,
  .checkbox-inline,
  &.radio label,
  &.checkbox label,
  &.radio-inline label,
  &.checkbox-inline label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus {
    border-color: $brand-danger;
  }
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

form {
  hr {
    margin: 15px 0;
  }
}

//== drupal videos
.video-embed-field-responsive-video {
  max-width: $container-desktop * .67;
  margin: 30px auto;
}

//== drupal protocols page content type

.protocols-title {
  padding: 5px 0;
  border-bottom: 1px solid #A1A6BB;
  border-top: 1px solid #A1A6BB;
  color: $brand-primary;
}

//.key-points > *,
.key-points {
  background-color: #FDEADA;
  color: #142255;
  padding: 15px;
  margin-bottom: $line-height-computed;
  border: 1px solid darken(#FDEADA, 6.5%);
  border-radius: 4px;
}

.illustrations {
  padding-top: 15px;
}

@media #{$mobile} {
  .illustrations {
    img {
      float: none !important;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: 15px;
    }
  }
}

@media #{$tablet} {
  .illustrations {
    display: table;
    width: 100%;
  }

  .illustrations [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
  }
}

.illustration-caption {
  vertical-align: middle !important;
}

//== search projects
.search-map {
  //margin-left: -($wrapper-padding-horizontal + ($grid-gutter-width / 2));
  //margin-right: -($wrapper-padding-horizontal + ($grid-gutter-width / 2));
  margin-bottom: $navbar-margin-bottom;
  margin-top: 0;

  #searchMap {
    height: $featured-slideshow-max-height;
  }
}

//== validate.html
.tab-content {
  margin-top: 15px;
}

.group-message {
  padding-bottom: $form-group-margin-bottom;
}

#map {
  position: relative;
  height: $featured-slideshow-max-height;
  width: 100%;
}

//== durpal protocols page
.protocols-media-list {
  .media {
    .media-left {
      padding-right: 30px;
    }

    img {
      width: 100px;
      height: 100px;
    }

    .media-heading {
      a {
        color: #000;
      }
    }
  }
}
// Existing style.css
.form-group-sm select.form-control {
  line-height: inherit;
}

.select-wrapper > #deployments:after {
  content: '';
}

.span-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-sm .form-control {
  padding: 5px 25px 5px 10px;
}

//.top-buffer {
//  margin-top: 15px;
//}

// can be removed after expedition manager refactor
div.toggle-content {
  display: none;
  margin: 0px 20px;
}

.img-arrow {
  vertical-align: middle;
  height: 20px;
  border: none;
}
