// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

$featured-slideshow-max-height: 400px !default;
ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

.page-node-type-home-page .page-header {
  display: none;
}

.carousel {
  margin-bottom: $navbar-margin-bottom;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

// Existing style.css
.form-group-sm select.form-control {
  line-height: inherit;
}

.select-wrapper > #deployments:after {
  content: '';
}

.span-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

//
//.navbar {
//  min-height: 40px;
//  border-radius: 3px;
//  padding-left: 0px;
//  padding-right: 0px;
//}

.navbar-collapse {
  padding-left: 0px;
}

//#front-page-carousel {
//  margin-top: -15px;
//  margin-bottom: 20px;
//}

//.carousel-inner > .item > img,
//.carousel-inner > .item > a > img {
//  border-radius: 3px;
//}

@mixin aspect-ratio($width, $height) {

  > .item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

#featured_slideshow {
  margin-top: -$navbar-margin-bottom;

  .carousel-inner {
    position: relative;

    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ceil(percentage($featured-slideshow-max-height / $container-lg));
    }

    > .item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      img {
        margin: auto;

        @media (max-width: $screen-sm-min - 1) {
          max-height: 100%;
        }
        @media (min-width: $screen-sm-min) {
          max-height: ceil($featured-slideshow-max-height * ($container-sm / $container-lg));
        }
        @media (min-width: $screen-md-min) {
          max-height: ceil($featured-slideshow-max-height * ($container-md / $container-lg));
        }
        @media (min-width: $screen-lg-min) {
          max-height: $featured-slideshow-max-height;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.form-group-sm .form-control {
  padding: 5px 25px 5px 10px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.top-buffer {
  margin-top: 15px;
}
